<div *ngIf="logged" class="container m-3">
    <div class="row">
        <div class="col-3">
            <app-chat-navbar (messageEvent)="addItem($event)"></app-chat-navbar>
            <app-logout></app-logout>
        </div>
        <div class="col-8">
            <app-chat-box [targetClientId]="targetId" [chatMessageList]="chatMessageList"></app-chat-box>
        </div>
    </div>
</div>

<div *ngIf="!logged" class="container m-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">401 Unauthorized</h1>
            <p class="lead">Sorry, you are not authorized to access this page.</p>
        </div>
    </div>
</div>