<div *ngIf="message.senderClientId == clientId">
    <div class="d-flex justify-content-end">
        <div class="btn btn-success mb-1">
            {{message.message}}
        </div>
    </div>
</div>

<div *ngIf="message.senderClientId == targetClientId">
    <div class="d-flex justify-content-start">
        <div class="row">
            <div class="col-1 my-2">
                <i class="fa-solid fa-circle-user" style="color: #8f9194;"></i>
            </div>
            <div class="col btn btn-secondary mb-1 mx-3">
                {{message.message}}
            </div>
        </div>
    </div>
</div>
