
<table class="table table-bordered" style="border-width: length; border-spacing: 0; border-radius: 8px; overflow: hidden;">
    <thead class="bg-success text-white text-center p-1">
        <tr>
            <th colspan="1" class="bg-success text-white"><h5 class="p-1">Available Users</h5></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clientList" class="p-2 m-2"  (click)="sendMessage(client.id, client.firstName)"> 
            <td [appHighlight]="'lightgray'" [ngClass]="{'highlight': selectedName === client.firstName}">
                <p>{{client.firstName}} {{client.lastName}}</p>
            </td>     
        </tr>
    </tbody>
</table>

